#忽略图片资源
*.png
*.jpg
*.JPEG
*.jpeg
*.svg
*.json

#字体图标
iconfont/
bootstrap/
node_modules/
swiper/
node_modules/
*.iml
*.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.webp
gradlew
test/
gradle/
androidTest/