@font-face {
  font-family: "iconfont"; /* Project id 5012414 */
  src: url('iconfont.woff2?t=1757073046800') format('woff2'),
       url('iconfont.woff?t=1757073046800') format('woff'),
       url('iconfont.ttf?t=1757073046800') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-arrow-down-bold:before {
  content: "\e687";
}

.icon-arrow-right-bold:before {
  content: "\e688";
}

.icon-fanhui:before {
  content: "\e61e";
}

.icon-time:before {
  content: "\e601";
}

.icon-bottom:before {
  content: "\e667";
}

.icon-favorite:before {
  content: "\e66f";
}

